<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Student - Request Form</title>
        <link
            rel="icon"
            type="image/png"
            sizes="16x16"
            th:href="@{/images/svdfc-logo.png}"
        >
        <!-- Custom CSS -->
        <link th:href="@{/css/userpageCSS/style.min.css}" rel="stylesheet">
        <link th:href="@{/css/croppie.css}" rel="stylesheet">
    </head>
    <body>
        <!-- ============================================================== -->
        <!-- Preloader-->
        <!-- ============================================================== -->
        <preloader th:replace="student/templates :: preloader"></preloader>
        <!-- ============================================================== -->
        <!-- Main wrapper-->
        <!-- ============================================================== -->
        <div
            id="main-wrapper"
            data-layout="vertical"
            data-navbarbg="skin5"
            data-sidebartype="full"
            data-sidebar-position="absolute"
            data-header-position="absolute"
            data-boxed-layout="full"
            class=""
        >
            <header th:replace="student/templates :: header"></header>
            <aside th:replace="student/templates :: aside"></aside>
           
            <!-- ============================================================== -->
            <!-- Page wrapper  -->
            <!-- ============================================================== -->
            <div class="page-wrapper">
                <!-- ============================================================== -->
                <!-- Bread crumb and right sidebar toggle -->
                <!-- ============================================================== -->
                <div class="page-breadcrumb">
                    <div class="row">
                        <div class="col-12 d-flex no-block align-items-center">
                            <h4 class="page-title">Request Document</h4>
                            <div class="ms-auto text-end">
                                <nav aria-label="breadcrumb">
                                    <ol class="breadcrumb">
                                        <li class="breadcrumb-item">
                                            <a href="#">Request</a>
                                        </li>
                                        <li class="breadcrumb-item active" aria-current="page">Documents List</li>
                                    </ol>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- ============================================================== -->
                <!-- End Bread crumb and right sidebar toggle -->
                <!-- ============================================================== -->
                <!-- ============================================================== -->
                <!-- Container fluid  -->
                <!-- ============================================================== -->
                <div class="container-sm">
                    <div th:if="${documentType} != null">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">
                                    Request Form -
                                    <strong id="documentTypeTitle" th:text="${#strings.toUpperCase(documentType)}"></strong>
                                </h4>
                                <p>
                                    <b class="text-danger">(*) all fields are required</b>
                                </p>
                                <p class="">
                                    <b style="width:2px; white-space: pre-wrap; word-spacing: 1px; " th:text="${description}">
                                        <br>
                                    </b>
                                </p>
                                <p>
                                    <b class="text-danger">
                                        Please keep in mind that if you do not meet all of the
                                    requirements, your request will be rejected.
                                    </b>
                                </p>
                                <h6 class="card-subtitle"></h6>
                                <form id="reqForm" class=" mt-5 form-floating">
                                    <h3>Information</h3>
                                    <h6 class="alert alert-warning  servererrorMessageAlert" style="display:none" role="alert"></h6>
                                    <div class="row">
                                        <div class="col-sm ">
                                            <div class="mt-2  form-floating" th:if="${#session.getAttribute('username')!=null}" style="display:none">
                                                <input
                                                    name="studentId"
                                                    type="text"
                                                    class="form-control floatingInput"
                                                    id="studentId"
                                                    th:value="${#session.getAttribute('username')}"
                                                    placeholder="Student Id"
                                                    readonly
                                                >
                                                <label for="userId">
                                                    Student Id
                                                    <span class="badge badge-secondary text-danger ">*</span>
                                                </div>
                                                <div class="mt-2 form-floating" th:if="${#session.getAttribute('name')!=null}" style="display:none">
                                                    <input
                                                        id="studName"
                                                        name="name"
                                                        type="text"
                                                        class="form-control floatingInput"
                                                        th:value="${#session.getAttribute('name')}"
                                                        placeholder=" Student Name"
                                                        readonly
                                                    >
                                                    <label for="studName">
                                                        Student Name
                                                        <span class="badge badge-secondary text-danger ">*</span>
                                                    </div>
                                                    <div class=" mt-2 form-floating">
                                                        <select
                                                            id="schoolLevel"
                                                            name="schoolLevel"
                                                            class="form-select"
                                                            placeholder="Select School Level"
                                                        >
                                                            <option value="n/a">--School Level--</option>
                                                            <option value="kinder">Kinder</option>
                                                            <option value="elementary">Elementary</option>
                                                            <option value="junior-high">Junior High School</option>
                                                            <option value="senior-high">Senior High School</option>
                                                            <option value="college">College</option>
                                                        </select>
                                                        <label for="schoolLevel">
                                                            School Level
                                                            <span class="badge badge-secondary text-danger ">*</span>
                                                        </div>
                                                        <div class="mt-2 form-floating yearSelect" style="display:none"></div>
                                                        <div class=" mt-2 form-floating courseSelect" style="display:none"></div>
                                                        <div class=" mt-2  form-floating semGradeSelect" style="display:none"></div>
                                                        <div class="mt-2 form-floating">
                                                            <textarea
                                                                id="message"
                                                                name="message"
                                                                class="form-control floatingInput"
                                                                maxlength="1000"
                                                                style="height:150px"
                                                            ></textarea>
                                                            <label id="messageLengthLabel" for="message">
                                                                You can add message here with
                                                maximum of (1000
                                                letters)
                                                            </label>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm">
                                                        <h3>Requirements</h3>
                                                        <div class="alert alert-danger message errorMessageAlert" style="display:none" role="alert"></div>
                                                        <div class="container">
                                                            <div class="row mb-2 ">
                                                                <div class="col col-lg-9">
                                                                    <h5>
                                                                        Upload Needed Requirements here.
                                                                        <span class="badge badge-secondary text-danger">*</span>
                                                                    </h5>
                                                                </div>
                                                                <div class="col-lg-2 mb-2 text-end">
                                                                    <label for="files" class="btn addRequirementFile btn-primary" style="width:130px">
                                                                        Add
                                                                    </label>
                                                                    <div class="text-left" style="display:none">
                                                                        <input
                                                                            class="form-control"
                                                                            name="file[]"
                                                                            type="file"
                                                                            id="files"
                                                                            accept=".jpg, .jpeg, .png, application/pdf"
                                                                            multiple
                                                                        >
                                                                    </div>
                                                                </div>
                                                                <div class="col-0 table-responsive ">
                                                                    <table class="table table-white table-bordered mt-2">
                                                                        <thead>
                                                                            <tr>
                                                                                <th>Action</th>
                                                                                <th scope="col">File Name</th>
                                                                                <th scope="col">File Size</th>
                                                                            </tr>
                                                                        </thead>
                                                                        <tbody id="fileInfoTable"></tbody>
                                                                    </table>
                                                                    <div class="row">
                                                                        <div class="col">
                                                                            <button id="savebtn" class="btn btn-success text-white w-100" disabled>Submit</button>
                                                                        </div>
                                                                        <div class="col">
                                                                            <button id="finalBtn" class="btn finalizedBtn btn-danger text-white w-100">Finalized</button>
                                                                        </div>
                                                                        <div class="col">
                                                                            <button id="resetBtn" type="reset" class="btn clearRequest text-white btn-warning w-100">Reset</button>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div
                class="modal fade"
                id="confirmModal"
                tabindex="-1"
                role="dialog"
                data-backdrop="static"
                aria-labelledbsaveRequesty="exampleModalLabel"
                aria-hidden="true"
            >
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">
                                <i class="fas fa-question-circle text-primary"></i>
                            </i>
                            Request Confirmation
                        </h5>
                    </div>
                    <div class="modal-body">
                        <p>Are you sure to submit the request?</p>
                        <b class="text-danger">Note</b>
                        <ul>
                            <li>
                                <p>Make sure that all of the requirements is correct.</p>
                            </li>
                            <li>
                                <p>
                                    Please keep in mind that if you do not meet all of the
                                requirements, your request will be rejected.
                                </p>
                            </li>
                        </ul>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary confirmRequestModal">Yes</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="modalView"></div>
        <script type="text/javascript" th:src="@{/js/a_libraries/jquery.js}"></script>
        <script type="text/javascript" th:src="@{/js/a_libraries/croppie.js}"></script>
        <script type="text/javascript" th:src="@{/js/a_libraries/bootstrap.bundle.js}"></script>
        <script type="text/javascript" th:src="@{/js/a_libraries/perfect-scrollbar.jquery.min.js}"></script>
        <script type="text/javascript" th:src="@{/js/a_libraries/waves.js}"></script>
        <script type="text/javascript" th:src="@{/js/a_libraries/sidebarmenu.js}"></script>
        <script type="text/javascript" th:src="@{/js/a_libraries/custom.min.js}"></script>
        <script type="text/javascript" th:src="@{/js/a_libraries/sockjs.min.js}"></script>
        <script type="text/javascript" th:src="@{/js/a_libraries/stomp.min.js}"></script>
        <script type="text/javascript" th:src="@{/js/websocket-config.js}"></script>
        <script type="text/javascript" th:src="@{/js/realtime_loads/realtime_notification.js}"></script>
        <script type="text/javascript" th:src="@{/js/manage_request_js-ajax-jquery/request.js}"></script>
        <script type="text/javascript" th:src="@{/js/userpageJS/course-year-level_Selection.js}"></script>
        <script type="text/javascript" th:src="@{/js/userpageJS/usermanual.js}"></script>

    </body>
</html>
