<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title th:text="'Student - '+${pageTitle}"></title>
        <link
            rel="icon"
            type="image/png"
            sizes="16x16"
            th:href="@{images/svdfc-logo.png}"
        >
        <!-- Custom CSS -->
        <link th:href="@{/css/userpageCSS/style.min.css}" rel="stylesheet">
        <link th:href="@{/css/croppie.css}" rel="stylesheet">
    </head>
    <body>
        <!-- ============================================================== -->
        <!-- Preloader-->
        <!-- ============================================================== -->
        <preloader th:replace="student/templates :: preloader"></preloader>
        <!-- ============================================================== -->
        <!-- Main wrapper-->
        <!-- ============================================================== -->
        <div
            id="main-wrapper"
            data-layout="vertical"
            data-navbarbg="skin5"
            data-sidebartype="full"
            data-sidebar-position="absolute"
            data-header-position="absolute"
            data-boxed-layout="full"
            class=""
        >
            <header th:replace="student/templates :: header"></header>
            <aside th:replace="student/templates :: aside"></aside>
            <!-- ============================================================== -->
            <!-- End Left Sidebar-->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- Page wrapper  -->
            <!-- ============================================================== -->
            <th:block th:switch="${page}">
                <th:block th:case="'dashboard'">
                    <div class="page-wrapper">
                        <!-- ============================================================== -->
                        <!-- Bread crumb and right sidebar toggle -->
                        <!-- ============================================================== -->
                        <div class="page-breadcrumb">
                            <div class="row">
                                <div class="col-12 d-flex no-block align-items-center">
                                    <h4 class="page-title">Dashboard</h4>
                                    <div class="ms-auto text-end">
                                        <nav aria-label="breadcrumb">
                                            <ol class="breadcrumb">
                                                <li class="breadcrumb-item">
                                                    <a href="#">Home</a>
                                                </li>
                                                <li class="breadcrumb-item active" aria-current="page">Dashboard</li>
                                            </ol>
                                        </nav>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- ============================================================== -->
                        <!-- End Bread crumb and right sidebar toggle -->
                        <!-- ============================================================== -->
                        <!-- ============================================================== -->
                        <!-- Container fluid  -->
                        <!-- ============================================================== -->
                        <div class="container-fluid">
                            <!-- ============================================================== -->
                            <!-- Rows -->
                            <!-- ============================================================== -->
                            <div class="row">
                                <div class="col-md-8">
                                    <div class="container-fluid">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="card card-hover">
                                                    <div class="box bg-primary text-center">
                                                        <h1 class="font-light text-white">
                                                            <i class="fas fa-table"></i>
                                                        </h1>
                                                        <h6 class="text-white">My Total Request</h6>
                                                        <h6 class="text-white totalRequests">0</h6>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- Column -->
                                            <div class="col-md-6 ">
                                                <div class="card card-hover">
                                                    <div class="box bg-success text-center">
                                                        <h1 class="font-light text-white">
                                                            <i class="far fa-check-square"></i>
                                                        </h1>
                                                        <h6 class="text-white">My Total Approved Request</h6>
                                                        <h6 class="text-white totalApprovedRequests">0</h6>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6 ">
                                                <div class="card card-hover">
                                                    <div class="box bg-danger text-center">
                                                        <h1 class="font-light text-white">
                                                            <i class="fas fa-ban"></i>
                                                        </h1>
                                                        <h6 class="text-white">My Total Rejected Request</h6>
                                                        <h6 class="text-white totalRejectedRequests">0</h6>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6 ">
                                                <div class="card card-hover">
                                                    <div class="box bg-cyan text-center">
                                                        <h1 class="font-light text-white">
                                                            <i class="mdi mdi-folder"></i>
                                                        </h1>
                                                        <h6 class="text-white">My Files</h6>
                                                        <h6 class="text-white totalUploaded">0</h6>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3 flex-fill dtcard ">
                                    <div class="card card-hover w-100 align-self-center">
                                        <div class="card-body">
                                            <div class="todo-widget text-center" style="height:20px;">
                                                <h4 class="text-danger" id="dayValueMain">Today is Monday</h4>
                                                <span class="text-danger" id="dateValueMain">00/00/2022</span>
                                            </div>
                                            <div class="todo-widget text-black-50 text-center" style="height:20px;"></div>
                                        </div>
                                    </div>
                                    <div class="card ntcard">
                                        <div class="card-body">
                                            <h4 class="card-title">Notifications</h4>
                                            <hr class="hr">
                                            <div class="ntcardMain"></div>
                                            <div id="se"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </th:block>
                <th:block th:case="'documents'">
                    <div class="page-wrapper">
                        <!-- ============================================================== -->
                        <!-- Bread crumb and right sidebar toggle -->
                        <!-- ============================================================== -->
                        <div class="page-breadcrumb">
                            <div class="row">
                                <div class="col-12 d-flex no-block align-items-center">
                                    <h4 class="page-title">Request Document</h4>
                                    <div class="ms-auto text-end">
                                        <nav aria-label="breadcrumb">
                                            <ol class="breadcrumb">
                                                <li class="breadcrumb-item">
                                                    <a href="#">Request</a>
                                                </li>
                                                <li class="breadcrumb-item active" aria-current="page">Documents List</li>
                                            </ol>
                                        </nav>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- ============================================================== -->
                        <!-- End Bread crumb and right sidebar toggle -->
                        <!-- ============================================================== -->
                        <!-- ============================================================== -->
                        <!-- Container fluid  -->
                        <!-- ============================================================== -->
                        <div class="container-fluid">
                            <div class="card">
                                <div class="card-body table-responsive">
                                    <h5 class="
                            card-title
                            ">My Requests</h5>
                                    <div>
                                        <table id="zero_config" class="table table-striped table-bordered">
                                            <thead>
                                                <tr>
                                                    <th>Action</th>
                                                    <th>File</th>
                                                    <th>Upload By</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr th:each="file : ${files}">
                                                    <td>
                                                        <a th:href="@{'/student/files/download?id='} + ${file.fileId}" type="button" class="btn btn-warning">
                                                            Download
                                                        </a>
                                                    </td>
                                                    <td th:text="${file.name}"></td>
                                                    <td th:text="${file.uploadedBy}"></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </th:block>
                <th:block th:case="'doc_cards'">
                    <div class="page-wrapper">
                        <!-- ============================================================== -->
                        <!-- Bread crumb and right sidebar toggle -->
                        <!-- ============================================================== -->
                        <div class="page-breadcrumb">
                            <div class="row">
                                <div class="col-12 d-flex no-block align-items-center">
                                    <h4 class="page-title">Available Documents</h4>
                                    <div class="ms-auto text-end">
                                        <nav aria-label="breadcrumb">
                                            <ol class="breadcrumb">
                                                <li class="breadcrumb-item">
                                                    <a href="#">Requests</a>
                                                </li>
                                                <li class="breadcrumb-item active" aria-current="page">Documents</li>
                                            </ol>
                                        </nav>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- ============================================================== -->
                        <!-- End Bread crumb and right sidebar toggle -->
                        <!-- ============================================================== -->
                        <!-- ============================================================== -->
                        <!-- Container fluid  -->
                        <!-- ============================================================== -->
                        <div class="container-fluid">
                            <div class="container">
                                <div class="card mb-4 el-card">
                                    <div class="card-header"></div>
                                    <div class="card-body ">
                                        <div class="row cardRow">
                                            <div class="mainLoaderDiv">
                                                <div id="loaderDiv">
                                                    <div class="cardLoader">
                                                        <div class="loader-wheel"></div>
                                                        <div class="loader-text"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </th:block>
            </th:block>
        </div>
    </div>
</div>
<div class="modalView"></div>
<script type="text/javascript" th:src="@{/js/a_libraries/jquery.js}"></script>
<script type="text/javascript" th:src="@{/js/a_libraries/croppie.js}"></script>
<script type="text/javascript" th:src="@{/js/a_libraries/bootstrap.bundle.js}"></script>
<script type="text/javascript" th:src="@{/js/a_libraries/perfect-scrollbar.jquery.min.js}"></script>
<script type="text/javascript" th:src="@{/js/a_libraries/waves.js}"></script>
<script type="text/javascript" th:src="@{/js/a_libraries/sidebarmenu.js}"></script>
<script type="text/javascript" th:src="@{/js/a_libraries/custom.min.js}"></script>
<script type="text/javascript" th:src="@{/js/a_libraries/datatables.min.js}"></script>
<script type="text/javascript" th:src="@{/js/a_libraries/sockjs.min.js}"></script>
<script type="text/javascript" th:src="@{/js/a_libraries/stomp.min.js}"></script>
<script type="text/javascript" th:src="@{/js/websocket-config.js}"></script>
<script type="text/javascript" th:src="@{/js/realtime_loads/realtime_notification.js}"></script>
<th:block th:switch="${page}">
    <th:block th:case="'dashboard'"><script type="text/javascript" th:src="@{/js/realtime_loads/realtime_totals.js}"></script></th:block>
    <th:block th:case="'documents'"></th:block>
    <th:block th:case="'doc_cards'">
        <script type="text/javascript" th:src="@{/js/realtime_loads/realtime_doc_cards.js}"></script>
    </th:block>
</th:block>
</body>
</html>
