<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Students Requests - RDMS</title>

    <link th:href="@{/css/dashboardStyle.css}" rel="stylesheet" />
    <link th:href="@{/css/simple_data_tables.css}" rel="stylesheet" />

    <script type="text/javascript" th:src="@{/js/all.js}"></script>

</head>

<body class="sb-nav-fixed">
    <nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
        <!-- Navbar Brand-->
        <a class="navbar-brand ps-3" href="/admin/dashboard">Admin - RDMS</a>
        <!-- Sidebar Toggle-->
        <button class="btn btn-link btn-sm order-1 order-lg-0 me-4 me-lg-0" id="sidebarToggle" href="#!"><i
                class="fas fa-bars"></i></button>
        <div class="input-group">

        </div>

        <!-- Navbar-->
        <ul class="navbar-nav ms-auto ms-md-0 me-3 me-lg-4">
            <button type="button" class="btn btn-dark text-white w-100"><span class=" fa-solid fa-bell"></span></button>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown"
                    aria-expanded="false"><img thsrc="@{images/userImages.png}" src="/images/userImage.png" alt=""
                        srcset="" class="rounded img-responsive border border-white rounded-circle"
                        style=" width:35px"></a>
                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                    <li><a class="dropdown-item" href="#!">My Profile</a></li>

                    <li>
                        <hr class="dropdown-divider" />
                    </li>
                    <li><a class="dropdown-item" href="/logout">Logout</a></li>
                </ul>
            </li>
        </ul>
    </nav>
    <div id="layoutSidenav">
        <div id="layoutSidenav_nav">
            <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
                <div class="sb-sidenav-menu">
                    <div class="nav">
                        <div class="sb-sidenav-menu-heading">Core</div>
                        <a class="nav-link" href="/admin/dashboard">
                            <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                            Dashboard
                        </a>
                        <div class="sb-sidenav-menu-heading">Actions</div>
                        <!-- Manage Registrar -->
                        <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#regDropDown"
                            aria-expanded="false" aria-controls="collapseLayouts">
                            <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
                            Manage Registrar
                            <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                        </a>
                        <div class="collapse" id="regDropDown" aria-labelledby="headingOne"
                            data-bs-parent="#sidenavAccordion">
                            <nav class="sb-sidenav-menu-nested nav">
                                <a class="nav-link" href="/admin/registrars">View / Add Registrar</a>

                                <a class="nav-link" href="/admin/registrar/deleted-accounts">Deleted Registrars</a>


                            </nav>
                        </div>
                        <!-- Manage Teachers -->
                        <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#teachDropDown"
                            aria-expanded="false" aria-controls="collapseLayouts">
                            <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
                            Manage Teachers
                            <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                        </a>
                        <div class="collapse" id="teachDropDown" aria-labelledby="headingOne"
                            data-bs-parent="#sidenavAccordion">
                            <nav class="sb-sidenav-menu-nested nav">
                                <a class="nav-link" href="/admin/teachers">View / Add Teachers</a>


                                <a class="nav-link" href="/admin/teacher/deleted-accounts">Deleted Teachers</a>

                            </nav>
                        </div>
                        <!-- Manage Students -->
                        <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#studDropDown"
                            aria-expanded="false" aria-controls="collapseLayouts">
                            <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
                            Manage Students
                            <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                        </a>
                        <div class="collapse" id="studDropDown" aria-labelledby="headingOne"
                            data-bs-parent="#sidenavAccordion">
                            <nav class="sb-sidenav-menu-nested nav">
                                <a class="nav-link" href="/admin/students">View / Add Students</a>
                                <a class="nav-link" href="/admin/student/deleted-accounts">Deleted Students</a>

                            </nav>
                        </div>


                        <div class="sb-sidenav-menu-heading">Auditory</div>
                        <a class="nav-link" href="/admin/logs">
                            <div class="sb-nav-link-icon"><i class="fas fa-chart-area"></i></div>
                            All Activity Logs
                        </a>
                        <div class="sb-sidenav-menu-heading">Manage Requests</div>
                        <a class="nav-link" href="/admin/student_requests">
                            <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
                            Student Requests Lists
                            <a class="nav-link" href="/admin/registrar_requests">
                                <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
                                Registrar Requests Lists
                            </a>
                            <div class="sb-sidenav-menu-heading">Manage Documents</div>
                            <a class="nav-link" href="/admin/documents-list">
                                <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
                                View Documents Cards
                            </a>
                            <div class="sb-sidenav-menu-heading">Settings</div>
                            <a class="nav-link" href="/admin/settings">
                                <div class="sb-nav-link-icon"><i class="fas fa-cog"></i></div>
                                Settings

                            </a>

                    </div>
                </div>
                <div class="sb-sidenav-footer">
                    <div class="small">Logged in as: Admin</div>

                </div>
            </nav>
        </div>

        <div id="layoutSidenav_content">
            <main>
                <div class="container-fluid px-4">
                    <h1 class="mt-4">Student Requests</h1>
                    <ol class="breadcrumb mb-4">
                        <li class="breadcrumb-item"><a href="/admin/dashboard">Dashboard</a></li>
                        <li class="breadcrumb-item active">Student Requests</li>
                    </ol>

                    <div class="card mb-4">

                        <div class="card-body">
                            <table id="datatablesSimple" class="text-center">
                                <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>Request By(ID)</th>
                                        <th>Documents</th>
                                        <th>Manage By</th>
                                        <th>Status</th>
                                        <th>Actions</th>


                                    </tr>
                                </thead>

                                <tbody>
                                    <tr th:each="studRequest : ${studentRequests}">

                                        <td th:text="${studRequest.requestId}"></td>
                                        <td th:text="${studRequest.requestBy}"></td>
                                        <td th:text="${studRequest.requestDocument}"></td>
                                        <td th:text="${studRequest.manageBy}"></td>
                                        <td th:text="${studRequest.requestStatus}"></td>
                                        <td>
                                            <a th:href="@{'?s='+${studRequest.studentId}+'&req='+${studRequest.requestId}}"
                                                type="button" class="btn btn-success w-100 toggleRequestDetail">
                                                Details</a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </main>

        </div>

    </div>
    <div class="modalView">

    </div>
    <script type="text/javascript" th:src="@{/js/bootstrap.bundle.js}"></script>
    <script type="text/javascript" th:src="@{/js/scripts.js}"></script>
    <script type="text/javascript" th:src="@{/js/latest.js}"></script>
    <script type="text/javascript" th:src="@{/js/jquery.js}"></script>
    <script type="text/javascript" th:src="@{/js/popper.js}"></script>
    <script type="text/javascript" th:src="@{/js/datatables-simple-demo.js}"> </script>
    <script type="text/javascript" th:src="@{/js/manage_request_js-ajax-jquery/admin-stud-requestslist.js}"></script>
</body>

</html>