<!-- ============================================================== -->
<!-- Preloader -  -->
<!-- ============================================================== -->
<preloader class="preloader">
    <div class="lds-ripple">
        <div class="lds-pos"></div>
        <div class="lds-pos"></div>
    </div>
</preloader>
<!-- ============================================================== -->
<!-- Topbar header-->
<!-- ============================================================== -->
<header class="topbar" data-navbarbg="skin5">
    <nav class="navbar top-navbar navbar-expand-md navbar-dark">
        <div class="navbar-header" data-logobg="skin5">
            <a class="navbar-brand" href="/svfc-admin/dashboard">
                <b class="logo-icon">
                    <img
                        height="50px"
                        th:src="@{/images/svdfc-logo.png}"
                        alt="homepage"
                        class="img-responsive light-logo"
                    >
                </b>
                <span class="logo-text text-dark logoText">
                    SVFC - RDMS
                </span>
            </a>
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- Toggle which is visible on mobile only -->
            <!-- ============================================================== -->
            <a class="nav-toggler waves-effect waves-light d-block d-md-none" href="javascript:void(0)">
                <i class="ti-menu ti-close"></i>
            </a>
        </div>
        <!-- ============================================================== -->
        <!-- End Logo -->
        <!-- ============================================================== -->
        <div class="navbar-collapse collapse" id="navbarSupportedContent" data-navbarbg="skin5">
            <!-- ============================================================== -->
            <!-- toggle and nav items -->
            <!-- ============================================================== -->
            <ul class="navbar-nav float-start me-auto">
                <li class="nav-item d-none d-lg-block">
                    <a class="nav-link sidebartoggler waves-effect waves-light" href="javascript:void(0)" data-sidebartype="mini-sidebar">
                        <i class="mdi mdi-menu font-24"></i>
                    </a>
                </li>
            </ul>
            <!-- ============================================================== -->
            <!-- Right side toggle and nav items -->
            <!-- ============================================================== -->
            <ul class="navbar-nav float-end">
                <li class="nav-item dropdown">
                    <a
                        class="nav-link dropdown-toggle waves-effect waves-dark"
                        href="#"
                        id="notifDrop"
                        role="button"
                        data-bs-toggle="dropdown"
                        aria-expanded="false"
                    >
                        <i class="mdi mdi-bell font-24 blicon"></i>
                        <span style="    position: relative;
                  top: -12px;
                  left: 9px;
                  font-size: 10px;" class="badge rounded-pill badge-notification bg-dark notifCount"></span>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end mailbox animated " aria-labelledby="2">
                        <ul class="list-style-none">
                            <li>
                                <div class="card ntcard">
                                    <div class="card-body">
                                        <h4 class="card-title ">Notifications</h4>
                                        <hr class="hr">
                                        <div class="ntcardMain" style="overflow-y: auto;">
                                            <a href="javascript:void(0)" class="link border-top">
                                                <div class="d-flex no-block align-items-center p-10">
                                                    <span class="btn btn-success btn-circle">
                                                        <i class="ti-check-box"></i>
                                                    </span>
                                                    <div class="ms-2 mainNotificationInfo">
                                                        <h5 class="mb-0 title">Requests Status</h5>
                                                        <span class="description"></span>
                                                    </div>
                                                </div>
                                            </a>
                                            <hr class="hr">
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </ul>
                </li>
                <!-- ============================================================== -->
                <!-- User profile and search -->
                <!-- ============================================================== -->
                <li class="nav-item dropdown">
                    <a
                        class="nav-link dropdown-toggle text-muted waves-effect waves-dark pro-pic"
                        href="#"
                        id="navbarDropdown"
                        role="button"
                        data-bs-toggle="dropdown"
                        aria-expanded="false"
                        data-bs-auto-close="outside"
                    >
                        <img
                            th:src="@{/images/userImage.png}"
                            alt="user"
                            class="rounded-circle"
                            width="31"
                        >
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end user-dd animated" aria-labelledby="navbarDropdown">
                        <div style="text-align: center">
                            <div class="row justify-content-center">
                                <div class="col-12">
                                    <div class="text-white">
                                        <span class="text-dark" th:with="name=${#session.getAttribute('name')}" style="font-size: 14px; display: block; font-weight: 700">[[${name}]]
                                        </span
                    >
                                        <span class="text-muted" th:with="email=${#session.getAttribute('email')}" style="font-size: 14px; display: block; margin: 0">[[${email}]]
                                        </span
                    >
                                    </div>
                                </div>
                                <div class="col-6">
                                    <span style="
                      font-size: 0.8rem;
                      font-weight: 500;
                      line-height: 1.2;
                    " class="text-muted">Username:
                                    </span
                  >
                                    <br>
                                    <span class="bg-info text-white rounded" th:with="username=${#session.getAttribute('username')}" style="font-size: 0.7rem; font-weight: 600; display: inline-block; padding: 3px 5px;">[[${username}]]
                                    </span
                  >
                                </div>
                                <div class="col-6">
                                    <span style="
                      font-size: 0.8rem;
                      font-weight: 500;
                      line-height: 1.2;
                    " class="text-muted">Account Type:
                                    </span
                  >
                                    <br>
                                    <span class="bg-primary text-white rounded" th:with="type=${#session.getAttribute('accountType')}" style="font-size: 0.7rem; font-weight: 600; display: inline-block; padding: 3px 5px;">[[${type}]]
                                    </span
                  >
                                </div>
                            </div>
                            <hr class="devider">
                        </div>
                        <a class="dropdown-item changeAccountPassword text-dark" href="javascript:void(0)">
                            <i class="ti-settings me-1 ms-1"></i>
                            Change Password
                        </a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item changeAccountProfile text-dark" href="javascript:void(0)">
                            <i class="ti-settings me-1 ms-1"></i>
                            Change Profile Picture
                        </a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item text-dark" href="/logout">
                            <i class="fa fa-power-off me-1 ms-1"></i>
                            <strong>Logout</strong>
                        </a>
                        <div class="dropdown-divider"></div>
                    </ul>
                </li>
                <!-- ============================================================== -->
                <!-- User profile and search -->
                <!-- ============================================================== -->
            </ul>
        </div>
    </nav>
    <rside class="sidebar">
        <button class="rightSidebarToggle btn">
            <i id="btnIcon" class="fas fa-angle-left text-white"></i>
        </button>
        <div class="row" id="r_row1">
            <div class="col-7" style="width:50.333333% !important;margin-top: -10px ;
                         margin-bottom: 50px;">
                <div class="card  ">
                    <div class="card-body">
                        <div class="dropdown">
                            <div style="display: flex;
                            justify-content: space-around;">
                                <a
                                    class="nav-link  text-muted waves-effect waves-dark pro-pic"
                                    href="#"
                                    id="rightSideNavbarDropdown"
                                    role="button"
                                    data-bs-toggle="dropdown"
                                    aria-expanded="false"
                                >
                                    <img
                                        id="rightSideProfilePic"
                                        src="../../assets/images/users/1.jpg"
                                        alt="user"
                                        class="rounded-circle"
                                        width="31"
                                    >
                                </a>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item changeAccountPassword " href="javascript:void(0)">
                                        <i class="ti-settings me-1 ms-1"></i>
                                        Change Password
                                    </a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item changeAccountProfile " href="javascript:void(0)">
                                        <i class="ti-settings me-1 ms-1"></i>
                                        Change Profile Picture
                                    </a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item " href="/logout">
                                        <i class="fa fa-power-off me-1 ms-1"></i>
                                       <strong>Logout</strong>
                                    </a>
                                </div>
                            </div>
                            <div style="text-align: center">
                                <div class="row justify-content-center">
                                    <div class="col">
                                        <div class="text-white">
                                            <span class="text-dark" th:with="name=${#session.getAttribute('name')}" style="font-size: 14px; display: block; font-weight: 700">
                                                [[${name}]]
                                            </span
                                      >
                                            <span class="text-muted" th:with="email=${#session.getAttribute('email')}" style="font-size: 14px; display: block; margin: 0">
                                                [[${email}]]
                                            </span
                                      >
                                        </div>
                                    </div>
                                    <div class="col">
                                        <span style="
                                        font-size: 0.8rem;
                                        font-weight: 500;
                                        line-height: 1.2;
                                      " class="text-muted">
                                            Username:
                                        </span
                                    >
                                        <br>
                                        <span class="bg-info text-white rounded" th:with="username=${#session.getAttribute('username')}" style="font-size: 0.7rem; font-weight: 600; display: inline-block; padding: 3px 5px;">
                                            [[${username}]]
                                        </span
                                    >
                                    </div>
                                    <div class="col">
                                        <span style="
                                        font-size: 0.8rem;
                                        font-weight: 500;
                                        line-height: 1.2;
                                      " class="text-muted">
                                            Account Type:
                                        </span
                                    >
                                        <br>
                                        <span class="bg-primary text-white rounded" th:with="type=${#session.getAttribute('accountType')}" style="font-size: 0.7rem; font-weight: 600; display: inline-block; padding: 3px 5px;">
                                            [[${type}]]
                                        </span
                                    >
                                    </div>
                                </div>
                                <hr class="devider">
                            </div>
                           
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-7" style="width:50.333333% !important">
                <div class="card  dateTimeCard">
                    <div class="card-body">
                        <div class="todo-widget text-center" style="height:20px;">
                            <h4 class="text-danger" id="dayValueRightBar">Today is Monday</h4>
                            <span class="text-danger" id="dateValueRightBar">00/00/2022</span>
                        </div>
                        <div class="todo-widget text-black-50 text-center" style="height:20px;"></div>
                    </div>
                </div>
            </div>
            <div class="col-7" style="width:50.333333% !important">
                <div class="card ">
                    <div class="card-body">
                        <h4 class="card-title ">Notifications</h4>
                        <hr class="hr">
                        <div class="notificationCard">
                            <a href="javascript:void(0)" class="link border-top">
                                <div class="d-flex no-block align-items-center p-10">
                                    <span class="btn btn-success btn-circle">
                                        <i class="ti-check-box"></i>
                                    </span>
                                    <div class="ms-2 mainNotificationInfo">
                                        <h5 class="mb-0 title">Requests Status</h5>
                                        <span class="description"></span>
                                    </div>
                                </div>
                            </a>
                            <hr class="hr">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </rside>
</header>
<!-- ============================================================== -->
<!-- End Topbar header -->
<!-- ============================================================== -->
<!-- ============================================================== -->
<!-- Left Sidebar-->
<!-- ============================================================== -->
<aside class="left-sidebar" data-sidebarbg="skin5">
    <!-- Sidebar scroll-->
    <div class="scroll-sidebar">
        <!-- Sidebar navigation-->
        <nav class="sidebar-nav">
            <ul id="sidebarnav" class="pt-4">
                <li class="sidebar-item">
                    <a class="sidebar-link waves-effect waves-dark sidebar-link" href="/svfc-admin/dashboard" aria-expanded="false">
                        <i class="fas fa-home"></i>
                        <span class="hide-menu">Home</span>
                    </a>
                </li>
                <li class="sidebar-item">
                    <a class="sidebar-link has-arrow waves-effect waves-dark" href="#!" aria-expanded="false">
                        <i class="fas fa-list"></i>
                        <span class="hide-menu">Active Accounts</span>
                    </a>
                    <ul aria-expanded="false" class="collapse  first-level">
                        <li class="sidebar-item">
                            <a href="/svfc-admin/students" class="sidebar-link">
                                <i class="fas fa-table"></i>
                                <span class="hide-menu">
                                    Students
                                </span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a href="/svfc-admin/registrars" class="sidebar-link">
                                <i class="fas fa-table"></i>
                                <span class="hide-menu">
                                    Registrars
                                </span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a href="/svfc-admin/teachers" class="sidebar-link">
                                <i class="fas fa-table"></i>
                                <span class="hide-menu">
                                    Teachers
                                </span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a href="/svfc-admin/school_admin" class="sidebar-link">
                                <i class="fas fa-table"></i>
                                <span class="hide-menu">
                                    School Admin
                                </span>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="sidebar-item">
                    <a class="sidebar-link has-arrow waves-effect waves-dark" href="#!" aria-expanded="false">
                        <i class="fas fa-list"></i>
                        <span class="hide-menu">Deleted Accounts</span>
                    </a>
                    <ul aria-expanded="false" class="collapse  first-level">
                        <li class="sidebar-item">
                            <a href="/svfc-admin/student/deleted-accounts" class="sidebar-link">
                                <i class="fas fa-table"></i>
                                <span class="hide-menu">
                                    Deleted
                                                       Students
                                </span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a href="/svfc-admin/registrar/deleted-accounts" class="
                                                  sidebar-link">
                                <i class="fas fa-table"></i>
                                <span class="hide-menu">
                                    Deleted
                                                       Registrars
                                </span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a href="/svfc-admin/teacher/deleted-accounts" class="sidebar-link">
                                <i class="fas fa-table"></i>
                                <span class="hide-menu">
                                    Deleted
                                                       Teachers
                                </span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a href="/svfc-admin/school_admin/deleted-accounts" class="sidebar-link">
                                <i class="fas fa-table"></i>
                                <span class="hide-menu">
                                    Deleted School
                                                       Admin
                                </span>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="sidebar-item">
                    <a class="sidebar-link has-arrow waves-effect waves-dark" href="#!" aria-expanded="false">
                        <i class="fas fa-list"></i>
                        <span class="hide-menu">All Requests</span>
                    </a>
                    <ul aria-expanded="false" class="collapse  first-level">
                        <li class="sidebar-item">
                            <a href="/svfc-admin/student_requests" class="sidebar-link">
                                <i class="fas fa-table"></i>
                                <span class="hide-menu">
                                    Student
                                                       Requests
                                </span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a href="/svfc-admin/registrar_requests" class="sidebar-link">
                                <i class="fas fa-table"></i>
                                <span class="hide-menu">
                                    Registrar
                                                       Requests
                                </span>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="sidebar-item">
                    <a href="/svfc-admin/documents-list" class="sidebar-link">
                        <i class="fas fa-folder"></i>
                        <span class="hide-menu">
                            Manage Documents
                        </span>
                    </a>
                </li>
                <li class="sidebar-item">
                    <a href="/svfc-admin/logs" class="sidebar-link">
                        <i class="fas fa-box"></i>
                        <span class="hide-menu">
                            Global Logs
                        </span>
                    </a>
                </li>
                <li class="sidebar-item">
                    <a href="/svfc-admin/global_files" class="sidebar-link">
                        <i class="fas fa-file"></i>
                        <span class="hide-menu">
                            Global Files
                        </span>
                    </a>
                </li>
                <li class="sidebar-item">
                    <a href="/svfc-admin/settings" class="sidebar-link">
                        <i class=" fas fa-cog"></i>
                        <span class="hide-menu">
                            Settings
                        </span>
                    </a>
                </li>
                <li class="sidebar-item ">
                    <a href="#" class="sidebar-link notifLink">
                        <i class=" fas fa-bell"></i>
                        <span class="hide-menu">
                            Notifications
                        </span>
                    </a>
                </li>
                <li class="sidebar-item ">
                    <a href="/logout" class="sidebar-link">
                        <i class="fas fa-power-off"></i>
                        <span class="hide-menu">
                            <strong>Logout</strong>
                        </span>
                    </a>
                </li>
            </ul>
        </nav>
        <!-- End Sidebar navigation -->
    </div>
    <!-- End Sidebar scroll-->
</aside>
<!-- ============================================================== -->
<!-- End Left Sidebar-->
<!-- ============================================================== -->
<!-- ============================================================== -->
