<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
     <meta charset="utf-8" />
     <meta http-equiv="X-UA-Compatible" content="IE=edge" />
     <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
     <meta name="description" content="" />
     <meta name="author" content="" />
     <link th:href="@{/css/userpageCSS/jquery.steps.css}" rel="stylesheet" />
     <link th:href="@{/css/userpageCSS/steps.css}" rel="stylesheet" />
     <link th:href="@{/css/userpageCSS/style.min.css}" rel="stylesheet" />

     <title></title>
</head>

<body>

     <div class="page-wrapper">

          <div class="page-breadcrumb">
               <div class="row">
                    <div class="col-12 d-flex no-block align-items-center">
                         <h4 class="page-title">Add Document</h4>
                         <div class="ms-auto text-end">
                              <nav aria-label="breadcrumb">
                                   <ol class="breadcrumb">
                                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                                        <li class="breadcrumb-item active" aria-current="page">Add Document</li>
                                   </ol>
                              </nav>
                         </div>
                    </div>
               </div>
          </div>
          <!-- ============================================================== -->
          <!-- End Bread crumb and right sidebar toggle -->
          <!-- ============================================================== -->
          <!-- ============================================================== -->
          <!-- Container fluid  -->
          <!-- ============================================================== -->
          <div class="container-fluid">
               <!-- ============================================================== -->
               <!-- Start Page Content -->
               <!-- ============================================================== -->


               <div class="card">
                    <form id="form" th:action="@{/save-document-info}" method="post" class="form-horizontal"
                         th:object="${documents}" enctype="multipart/form-data">
                         <div class=" card-body">
                              <h4 class="card-title">Document Information
                              </h4>
                              <p><b class="text-danger">(*) all fields are required</b></p>
                              <label for="title">Title</label>
                              <input id="title" name="title" th:field="*{title}" type="text"
                                   class="required form-control">
                              <label for="description">Description</label>
                              <input id="description" name="description" th:field="*{description}" type="text"
                                   class="required form-control">
                              <label for="course">Image</label>

                              <div class="row">
                                   <div class="col-sm">
                                        <label for="image">Upload Image
                                             *</label>
                                        <div class="input-group mb-3 px-2 py-2 rounded-pill bg-white shadow-sm">

                                             <input id="image" type="file" name="image" th:field="*{image}"
                                                  onchange="readURL(this);" class="required form-control border-0   "
                                                  accept="image/png,image/jpeg">
                                        </div>
                                   </div>
                                   <div class="col-sm">
                                        <p class="font-italic text-dark text-center">Preview</p>
                                        <div class="image-area">
                                             <img id="result" style="height: 250px; width: 100%;" src="#" alt=""
                                                  class="img-fluid rounded shadow-sm mx-auto d-block border border-dark">
                                        </div>

                                   </div>
                              </div>
                              <p>(*) Mandatory</p>
                         </div>




                         <div class="border-top">
                              <div class="card-body">
                                   <input type="submit" class="btn btn-primary"></input>
                              </div>
                         </div>
                    </form>
               </div>

          </div>

     </div>




</body>
<script type="text/javascript" th:src="@{/js/userpageJS/jquery.min.js}"></script>
<script type="text/javascript" th:src="@{/js/bootstrap.bundle.js}"></script>
<script type="text/javascript" th:src="@{/js/userpageJS/perfect-scrollbar.jquery.min.js}"></script>
<script type="text/javascript" th:src="@{/js/userpageJS/sparkline.js}"></script>
<script type="text/javascript" th:src="@{/js/userpageJS/waves.js}"></script>
<script type="text/javascript" th:src="@{/js/userpageJS/sidebarmenu.js}"></script>
<script type="text/javascript" th:src="@{/js/userpageJS/custom.min.js}"></script>
<script type="text/javascript" th:src="@{/js/userpageJS/jquery.validate.min.js}"></script>
<script type="text/javascript" th:src="@{/js/userpageJS/jquery.steps.min.js}"></script>

<script>


     /*  ==========================================
         SHOW UPLOADED IMAGE
     * ========================================== */
     function readURL(input) {

          if (input.files && input.files[0]) {
               var reader = new FileReader();
               console.log(reader);
               reader.onload = function (e) {
                    $('#result')
                         .attr('src', e.target.result);
               };
               reader.readAsDataURL(input.files[0]);
          }


     }



     $(function () {
          $('#image').on('change', function () {
               readURL(image);
          });
     });



     /*  ==========================================
         SHOW UPLOADED IMAGE NAME
     * ========================================== */
     var image = document.getElementById('image');
     var infoArea = document.getElementById('upload-label');

     image.addEventListener('change', showFileName);
     function showFileName(event) {
          var image = event.srcElement;
          var fileName = image.files[0].name;
          infoArea.textContent = 'File name: ' + fileName;
     }






</script>

</html>