<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="utf-8" />
  <title>RDMS - Login</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- MATERIAL DESIGN ICONIC FONT -->
  <link rel="icon" type="image/png" sizes="50x50" th:href="@{images/svdfc-logo.png}">
  <link th:href="@{fonts/material-design-iconic-font/css/material-design-iconic-font.min.css.css}" rel="stylesheet" />
  <!-- STYLE CSS -->
  <link th:href="@{css/style.css}" rel="stylesheet" />
  <link th:href="@{css/bootstrap.css}" rel="stylesheet" />

</head>

<body>
  <div class="preloader">
    <div class="lds-ripple">
      <div class="lds-pos"></div>
      <div class="lds-pos"></div>
    </div>
  </div>

  <div class="wrapper">
    <div class="image-holder">
      <img th:src="@{images/abst.jpeg}" src="images/abst.jpg" alt="Background" />

      <div class="endText">
        <span>St.Vincent De Ferrer College of Camarin Inc.</span>
      </div>
      <div class="bottomText">
        <span>Requests and Document Management System</span>
      </div>
    </div>

    <div class="form-inner ">
      <form id="loginForm">

        <div class="text-center">
          <img th:src="@{images/svfclog.png}" class=" logo responsive rounded-circle" alt="School Logo">
          <h5 class="scText">St. Vincent De Ferrer College of Camarin Inc.</h5>
        </div>

        <div class="form-group">
          <label for="">Username:</label>
          <input type="text" class="form-control userInput " th:value="${#session.getAttribute('session_username')}"
            name="username" placeholder="Username" id="username"></input>

          <div class="text-end invalid-feedback userMessage" style="display: none;">
            <strong class="userError"> </strong>
          </div>


        </div>

        <div class="form-group">
          <label for="">Password:</label>
          <input type="password" class="form-control passInput" th:value="${#session.getAttribute('session_password')}"
            name="password" placeholder="Password" id="password"></input>
          <div class="text-end invalid-feedback passMessage" style="display: none;">
            <strong class="passError"> </strong>
          </div>
        </div>
        <div class="form-group">
          <label for="">Account Type:</label>
          <select name="type" id="accType" class="form-control typeInput" onchange="usernameChangerBySelection();">
            <th:block th:if="${#session.getAttribute('session_remember') != 'true'}">
              <option disabled selected>--Login As--</option>
              <option value="Student">Student</option>
            </th:block>
            <th:block th:if="${#session.getAttribute('session_remember') == 'true'}">
              <th:block th:if="${#session.getAttribute('session_accType')!='School_Admin'}">
                <option selected th:value="${#session.getAttribute('session_accType')}"
                  th:text="${#session.getAttribute('session_accType')}">
                  --Login As--
            
                </option>
              </th:block>
              <th:block th:if="${#session.getAttribute('session_accType')=='School_Admin'}">
                <option selected th:value="School_Admin">
                  School Admin
                </option>
                <option value="Student">Student</option>
              </th:block>
            </th:block>
            <option value="Registrar">Registrar</option>
            <option value="Teacher">Teacher</option>
            <option value="School_Admin">School Admin</option>
          </select>
          <div class="text-end invalid-feedback accTypeMessage" style="display: none;">
            <strong class="accTypeError"> </strong>
          </div>
        </div>
        <div class="form-check">
          <input class="form-check-input" th:checked="${#session.getAttribute('session_remember')=='true' ? true : false}"
            name="rememberMe" type="checkbox" id="rememberMe">
          <label class="form-check-label" for="rememberMe">
            Remember Me
          </label>
        </div>
        <input class="btn btn-dark w-100 loginBtn" type="submit"></input>
        <div id="loginMessageDiv" class="form-group">

        </div>
      </form>

    </div>
  </div>
  <script type="text/javascript" th:src="@{js/jquery.js}"></script>
  <script type="text/javascript" th:src="@{js/popper.js}"></script>
  <script type="text/javascript" th:src="@{js/login.js}"></script>
  <script id="scriptX">
    $(document).ready(function () {

      $(".preloader").fadeOut();
      $("#scriptX").empty();
    });
  </script>
</body>

</html>