<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8">
        <title>RDMS - Login</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Login to the RDMS portal to access your account information.">
        <meta name="keywords" content="RDMS, login, account, information">
        <meta name="author" content="Ryu,Ronald,Given,Erangie,Krystal,Kaye">
        <link rel="icon" type="image/png" href="images/svfclog.png">
       
        <!-- MATERIAL DESIGN ICONIC FONT -->
        <link
            rel="icon"
            type="image/png"
            sizes="50x50"
            th:href="@{images/svdfc-logo.png}"
        >
        <link th:href="@{fonts/material-design-iconic-font/css/material-design-iconic-font.min.css.css}" rel="stylesheet">
        <!-- STYLE CSS -->
        <link th:href="@{css/style.css}" rel="stylesheet">
        <link th:href="@{css/bootstrap.css}" rel="stylesheet">
    </head>
    <body>
        <div class="preloader">
            <div class="lds-ripple">
                <div class="lds-pos"></div>
                <div class="lds-pos"></div>
            </div>
        </div>
        <div class="wrapper">
            <div class="image-holder">
                <img th:src="@{images/abst.jpeg}" src="images/abst.jpg" alt="Background">
                <div class="endText">
                    <span>St.Vincent De Ferrer College of Camarin Inc.</span>
                </div>
                <div class="bottomText">
                    <span>Requests and Document Management System</span>
                </div>
            </div>
            <div class="form-inner ">
                <form id="loginForm">
                    <div class="text-center">
                        <img th:src="@{images/svfclog.png}" class=" logo responsive rounded-circle" alt="School Logo">
                        <h5 class="scText">St. Vincent De Ferrer College of Camarin Inc.</h5>
                    </div>
                    <div class="h3 text-start" style="line-height: 1.4;
                    font-weight: 250;
                    font-size: 18px;
                    margin-bottom: 1.5rem !important;
                    margin-top: 29px !important;">Please enter your credentials.</div>
                    <div class="form-group">
                        <input
                            type="text"
                            class="form-control userInput "
                            th:value="${login_MyUsername}"
                            name="username"
                            placeholder="Username"
                            id="username"
                        ></input>
                        <div class="text-end invalid-feedback userMessage" style="display: none;">
                            <strong class="userError"></strong>
                        </div>
                    </div>
                    <div class="form-group">
                        <input
                            type="password"
                            class="form-control passInput"
                            th:value="${login_MyPassword}"
                            name="password"
                            placeholder="Password"
                            id="password"
                        ></input>
                        <div class="text-end invalid-feedback passMessage" style="display: none;">
                            <strong class="passError"></strong>
                        </div>
                    </div>
                    <div class="form-group">
                        <select
                            name="type"
                            id="accType"
                            class="form-control typeInput"
                            onchange="usernameChangerBySelection();"
                        >
                            <th:block th:if="${login_RememberMe != 'true'}">
                                <option value="login_as" disabled selected>--Login As--</option>
                                <option value="Student">Student</option>
                                <option value="Registrar">Registrar</option>
                                <option value="Teacher">Teacher</option>
                                <option value="School_Admin">
                                    School Admin
                                </option>
                            </th:block>
                            <th:block th:if="${login_RememberMe == 'true'}">
                                <th:block th:if="${login_MyAccountType == 'Student'}">
                                    <option selected th:value="${login_MyAccountType}" th:text="${login_MyAccountType}"></option>
                                    <option value="Registrar">Registrar</option>
                                    <option value="Teacher">Teacher</option>
                                    <option value="School_Admin">
                                        School Admin
                                    </option>
                                </th:block>
                                <th:block th:if="${login_MyAccountType == 'Registrar'}">
                                    <option value="Student">Student</option>
                                    <option selected th:value="${login_MyAccountType}" th:text="${login_MyAccountType}"></option>
                                    <option value="Teacher">Teacher</option>
                                    <option value="School_Admin">
                                        School Admin
                                    </option>
                                </th:block>
                                <th:block th:if="${login_MyAccountType == 'Teacher'}">
                                    <option value="Student">Student</option>
                                    <option value="Registrar">Registrar</option>
                                    <option selected th:value="${login_MyAccountType}" th:text="${login_MyAccountType}"></option>
                                    <option value="School_Admin">
                                        School Admin
                                    </option>
                                </th:block>
                                <th:block th:if="${login_MyAccountType == 'School_Admin'}">
                                    <option value="Student">Student</option>
                                    <option value="Registrar">Registrar</option>
                                    <option value="Teacher">Teacher</option>
                                    <option selected th:value="School_Admin">
                                        School Admin
                                    </option>
                                </th:block>
                            </th:block>
                        </select>
                        <div class="text-end invalid-feedback accTypeMessage" style="display: none;">
                            <strong class="accTypeError"></strong>
                        </div>
                    </div>
                    <div class="form-check">
                        <input
                            class="form-check-input"
                            th:checked="${login_RememberMe == 'true' ? true : false}"
                            name="rememberMe"
                            type="checkbox"
                            id="rememberMe"
                            tabindex="-1"
                        >
                        <label class="form-check-label" for="rememberMe">
                            Remember Me
                        </label>
                    </div>
                    <button class=" btn btn-danger btnSubmit" type="submit">Login</button>
                    <div id="loginMessageDiv" class="form-group"></div>
                    <footer class="footer mt-auto py-3">
                        <span class="text-muted">© 2023 RDMS - St.Vincent De Ferrer College of Camarin Inc.</span>
                        <div class="container howContainer">
                            <div class="footer-links float-end">
                                <a href="javascript:void(0)" class="text-muted triggerUserManual">How to login</a>
                                <a href="javascript:void(0)" class="text-muted triggerAbout">About</a>
                            </div>
                        </div>
                    </footer>
                </form>
            </div>
        </div>
        <div class="modalView"></div>
       
        <script type="text/javascript" th:src="@{js/a_libraries/jquery.js}"></script>
        <script type="text/javascript" th:src="@{js/a_libraries/bootstrap.bundle.js}"></script>
        <script type="text/javascript" th:src="@{js/userpageJS/usermanual.js}"></script>
        <script type="text/javascript" th:src="@{js/login.js}"></script>
        <script id="scriptX">
             $(window).on("load",function(){
                $(".preloader").fadeOut();
      $("#scriptX").empty();
  });
        </script>
    </body>
</html>
