<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="utf-8" />
  <title>RDMS - Login</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- MATERIAL DESIGN ICONIC FONT -->
<link rel="icon" type="image/png" sizes="50x50" th:href="@{images/svdfc-logo.png}">
  <link th:href="@{fonts/material-design-iconic-font/css/material-design-iconic-font.min.css.css}" rel="stylesheet" />
  <!-- STYLE CSS -->
  <link th:href="@{css/style.css}" rel="stylesheet" />
  <link th:href="@{css/bootstrap.css}" rel="stylesheet" />
</head>

<body>
  <div class="wrapper">
    <div class="image-holder">
      <img th:src="@{images/abst.jpeg}" src="images/abst.jpeg" alt="Background" />

      <div class="endText">
        <span>St.Vincent De Ferrer College of Camarin Inc.</span>
      </div>
      <div class="bottomText">
        <span>Requests and Document Management System</span>
      </div>
    </div>

    <div class="form-inner ">
      <form id="loginForm">

        <div class="text-center ">
          <img th:src="@{images/svfclog.png}" class=" logo responsive rounded-circle" alt="School Logo">
          <h5 class="scText">St. Vincent De Ferrer College of Camarin Inc.</h5>
        </div>

        <div class="form-group">
          <label for="">Username:</label>
          <input type="text" class="form-control" name="username" placeholder="Username" id="username"></input>
          <div class="alert alert-danger userMessage mt-2" style="display: none;" role="alert">
            <strong class="userError"> </strong>
          </div>
        </div>

        <div class="form-group">
          <label for="">Password:</label>
          <input type="password" class="form-control" name="password" placeholder="Password" id="password"></input>
          <div class="alert alert-danger passMessage mt-2" style="display: none;" role="alert">
            <strong class="passError"> </strong>
          </div>
        </div>
        <div class="form-group">
          <label for="">Account Type:</label>
          <select name="type" id="accType" class="form-control" onchange="usernameChangerBySelection();">
            <option disabled selected>Account Type</option>
            <option value="Student">Student</option>
            <option value="Registrar">Registrar</option>
            <option value="Teacher">Teacher</option>
            <option value="Administrator">Administrator</option>
          </select>
          <div class="alert alert-danger accTypeMessage mt-2" style="display: none;" role="alert">
            <strong class="accTypeError"> </strong>
          </div>
          </div>
          <input class="btn btn-dark w-100 loginBtn" type="submit"></input>
        <div id="loginMessageDiv" class="form-group">
        
        </div>
      </form>
    
    </div>
    </div>
  <script type="text/javascript" th:src="@{js/jquery.js}"></script>
  <script type="text/javascript" th:src="@{js/bootstrap.js}"></script>
  <script type="text/javascript" th:src="@{js/popper.js}"></script>
  <script type="text/javascript" th:src="@{js/login.js}"></script>
</body>

</html>