<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Select Request</title>

    <link th:href="@{css/dashboardStyle.css}" rel="stylesheet" />
    <link th:href="@{css/simple_data_tables.css}" rel="stylesheet" />
<link th:href="@{css/toggle.css}" rel="stylesheet" />
    <script type="text/javascript" th:src="@{js/all.js}"></script>

</head>

<body class="sb-nav-fixed">
    <nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
        <!-- Navbar Brand-->
        <a class="navbar-brand ps-3" href="/admin">Admin - RDMS</a>
        <!-- Sidebar Toggle-->
        <button class="btn btn-link btn-sm order-1 order-lg-0 me-4 me-lg-0" id="sidebarToggle" href="#!"><i
                class="fas fa-bars"></i></button>
        <div class="input-group">

        </div>

        <!-- Navbar-->
        <ul class="navbar-nav ms-auto ms-md-0 me-3 me-lg-4">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown"
                    aria-expanded="false"><img thsrc="@{images/userImages.png}" src="images/userImage.png" alt=""
                        srcset="" class="rounded img-responsive border border-white rounded-circle"
                        style=" width:35px"></a>
                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                    <li><a class="dropdown-item" href="#!">My Profile</a></li>

                    <li>
                        <hr class="dropdown-divider" />
                    </li>
                    <li><a class="dropdown-item" href="#!">Logout</a></li>
                </ul>
            </li>
        </ul>
    </nav>
    <div id="layoutSidenav">
        <div id="layoutSidenav_nav">
            <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
                <div class="sb-sidenav-menu">
                    <div class="nav">
                        <div class="sb-sidenav-menu-heading">Core</div>
                        <a class="nav-link" href="/admin">
                            <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                            Dashboard
                        </a>
                        <div class="sb-sidenav-menu-heading">Actions</div>
                        <!-- Manage Facilitator -->
                        <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#faciDropDown"
                            aria-expanded="false" aria-controls="collapseLayouts">
                            <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
                            Manage Facilitator
                            <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                        </a>
                        <div class="collapse" id="faciDropDown" aria-labelledby="headingOne"
                            data-bs-parent="#sidenavAccordion">
                            <nav class="sb-sidenav-menu-nested nav">
                                <a class="nav-link" href="/facilitators">View / Add Facilitator</a>
                                <a class="nav-link" href="/facilitators-deleted">Deleted Facilitators</a>
                                <a class="nav-link" href="#">Facilitators Page</a>
                            </nav>
                        </div>
                        <!-- Manage Registrar -->
                        <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#regDropDown"
                            aria-expanded="false" aria-controls="collapseLayouts">
                            <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
                            Manage Registrar
                            <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                        </a>
                        <div class="collapse" id="regDropDown" aria-labelledby="headingOne"
                            data-bs-parent="#sidenavAccordion">
                            <nav class="sb-sidenav-menu-nested nav">
                                <a class="nav-link" href="/registrars">View / Add Registrar</a>

                                <a class="nav-link" href="/registrars-deleted">Deleted Registrars</a>
                                <a class="nav-link" href="#">Registrars Page</a>

                            </nav>
                        </div>
                        <!-- Manage Teachers -->
                        <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#teachDropDown"
                            aria-expanded="false" aria-controls="collapseLayouts">
                            <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
                            Manage Teachers
                            <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                        </a>
                        <div class="collapse" id="teachDropDown" aria-labelledby="headingOne"
                            data-bs-parent="#sidenavAccordion">
                            <nav class="sb-sidenav-menu-nested nav">
                                <a class="nav-link" href="/teachers">View / Add Teachers</a>


                                <a class="nav-link" href="/teachers-deleted">Deleted Teachers</a>
                                <a class="nav-link" href="#">Teachers Page</a>
                            </nav>
                        </div>
                        <!-- Manage Students -->
                        <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#studDropDown"
                            aria-expanded="false" aria-controls="collapseLayouts">
                            <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
                            Manage Students
                            <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                        </a>
                        <div class="collapse" id="studDropDown" aria-labelledby="headingOne"
                            data-bs-parent="#sidenavAccordion">
                            <nav class="sb-sidenav-menu-nested nav">
                                <a class="nav-link" href="/students">View / Add Students</a>
                                <a class="nav-link" href="students-deleted">Deleted Students</a>
                                <a class="nav-link" href="#">Students Page</a>
                            </nav>
                        </div>


                        <div class="sb-sidenav-menu-heading">Auditory</div>
                        <a class="nav-link" href="/admin_logs">
                            <div class="sb-nav-link-icon"><i class="fas fa-chart-area"></i></div>
                            All Activity Logs
                        </a>
                        <div class="sb-sidenav-menu-heading">View All Requests</div>
                        <a class="nav-link" href="/all_request">
                            <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
                            Requests Lists
                        </a>
                        <div class="sb-sidenav-menu-heading">Settings</div>
                        <a class="nav-link" href="#">
                            <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
                            Connection Settings

                        </a>

                    </div>
                </div>
                <div class="sb-sidenav-footer">
                    <div class="small">Logged in as: Admin</div>

                </div>
            </nav>
        </div>

        <div id="layoutSidenav_content">
            <main>
                <div class="container">
                    <h1 class="mt-4">Select Requests</h1>
                    <ol class="breadcrumb mb-4">
                        <li class="breadcrumb-item"><a href="/admin">Dashboard</a></li>
                        <li class="breadcrumb-item active">Requests</li>
                    </ol>
                    <div class="row">
                        <div class="col-sm">
                            <div class="card pagesCards">
                                <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">

                                    <a href="#!">
                                        <div class="imageDiv" style="background-color: rgba(251, 251, 251, 0.15);">
                                            <img th:src="@{images/.jpg}" src="images/studentImageTest"
                                                class="img-fluid" />
                                        </div>
                                    </a>
                                </div>
                                <div class="card-body">
                                    <h5 class="card-title">ID</h5>
                                    <p class="card-text">Request an ID for Students</p>
                                    <a href="#!" class="btn btn-primary">Request This Document</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm">
                            <div class="card pagesCards">
                                <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                                    <a href="#!">
                                        <div class="imageDiv" style="background-color: rgba(251, 251, 251, 0.15);">
                                            <img th:src="@{images/.jpg}" src="images/facilitator" class="img-fluid" />
                                        </div>
                                    </a>
                                </div>
                                <div class="card-body ">
                                    <h5 class="card-title">COR</h5>
                                    <p class="card-text">Request COR for Student.</p>
                                    <a href="#!" class="btn btn-primary">Request This Document</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm">
                            <div class="card pagesCards">
                                <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                                    <a href="#!">
                                        <div class=" imageDiv" style="background-color: rgba(251, 251, 251, 0.15);">

                                            <img th:src="@{images/.png}" src="images/registrar" class="img-fluid " />

                                        </div>
                                    </a>
                                </div>
                                <div class="card-body">
                                    <h5 class="card-title">COM</h5>
                                    <p class="card-text">Request COM for student.</p>
                                    <a href="#!" class="btn btn-primary">Request This Document</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm">
                            <div class="card pagesCards">
                                <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                                    <a href="#!">
                                        <div class=" imageDiv" style="background-color: rgba(251, 251, 251, 0.15);">

                                            <img th:src="@{images/.png}" src="images/teacher" class="img-fluid " />

                                        </div>
                                    </a>
                                </div>
                                <div class="card-body">
                                    <h5 class="card-title">Grades</h5>
                                    <p class="card-text">Request grades for student.</p>
                                    <a href="#!" class="btn btn-primary">Request This Document</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </main>

        </div>

    </div>

    <script type="text/javascript" th:src="@{js/bootstrap.bundle.js}"></script>
    <script type="text/javascript" th:src="@{js/scripts.js}"></script>
    <script type="text/javascript" th:src="@{js/latest.js}"></script>
    <script type="text/javascript" th:src="@{js/jquery.js}"></script>
    <script type="text/javascript" th:src="@{js/datatables-simple-demo.js}"> </script>

</body>

</html>