<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
     <meta charset="utf-8" />
     <meta http-equiv="X-UA-Compatible" content="IE=edge" />
     <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
     <meta name="description" content="" />
     <meta name="author" content="" />

     <link th:href="@{/css/userpageCSS/style.min.css}" rel="stylesheet" />

     <title></title>
</head>

<body>

     <div class="page-wrapper">
          <!-- ============================================================== -->
          <!-- Bread crumb and right sidebar toggle -->
          <!-- ============================================================== -->
          <div class="page-breadcrumb">
               <div class="row">
                    <div class="col-12 d-flex no-block align-items-center">
                         <h4 class="page-title">Request <strong
                                   th:text="${#strings.toUpperCase(documentType)}"></strong>
                         </h4>
                         <div class="ms-auto text-end">
                              <nav aria-label="breadcrumb">
                                   <ol class="breadcrumb">
                                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                                        <li class="breadcrumb-item active" aria-current="page">Request</li>
                                   </ol>
                              </nav>
                         </div>
                    </div>
               </div>
          </div>
          <!-- ============================================================== -->
          <!-- End Bread crumb and right sidebar toggle -->
          <!-- ============================================================== -->
          <!-- ============================================================== -->
          <!-- Container fluid  -->
          <!-- ============================================================== -->
          <div class="container">
               <!-- ============================================================== -->
               <!-- Start Page Content -->
               <!-- ============================================================== -->
               <div th:if="${documentType} != null">

                    <div class="card">
                         <div class="card-body">
                              <h4 class="card-title">Request Form - <strong id="documentTypeTitle"
                                        th:text="${#strings.toUpperCase(documentType)}"></strong></h4>
                              <p><b class="text-danger">(*) all fields are required</b></p>
                              <p><b class="text-black" style="white-space: pre;" th:text="${description}"></b></p>
                              <h6 class="card-subtitle"></h6>
                              <form id="form" method="POST" th:action="'/admin/request/' + ${documentType} +'/sent'" class=" mt-5 form-floating">
                                   <h3>Information</h3>
                                   <div class="row">
                                        <div class="col-sm ">
                                             <div class="mt-2  form-floating">
                                   
                                                  <input name="userId" type="text" class="form-control floatingInput" id="userId" placeholder="Student Id">
                                                  <label for="userId">Student Id *</label>
                                             </div>
                                   
                                             <div class="mt-2 form-floating">
                                                  <input id="studName" name="name" type="text" class="form-control floatingInput"
                                                       placeholder="Student Name">
                                                  <label for="studName">Student Name *</label>
                                             </div>
                                             <div class=" mt-2 form-floating">
                                                  <select id="year" name="year" class="form-select" placeholder="Year Level">
                                                       <option value="1ST YEAR">1ST YEAR</option>
                                                       <option value="2ND YEAR">2ND YEAR</option>
                                                       <option value="3RD YEAR">3RD YEAR</option>
                                                       <option value="4TH YEAR">4TH YEAR</option>
                                                       <option value="5TH YEAR">5TH YEAR</option>
                                                  </select>
                                                  <label for="year">Year *</label>
                                                  </div>
                                                  <div class="mt-2  form-floating">
                                                  
                                                       <select id="course" name="course" class="form-select">
                                                            <option value="BSIT">BSIT</option>
                                                            <option value="BPAD">BPAD</option>
                                                            <option value="BSHM">BSHM</option>
                                                       </select>
                                                  <label for="course">Course *</label>
                                                  </div>
                                                  
                                                  <div class="mt-2  form-floating">
                                                  
                                                       <select id="semester" name="semester" class="form-select">
                                                            <option value="1ST SEMESTER">1ST SEMESTER</option>
                                                            <option value="2ND SEMESTER">2ND SEMESTER</option>

                                                  </select>
                                                  <label for="semester">Semester *</label>
                                                  </div>
                                             <p>(*) Mandatory</p>
                                             <div class="row">
                                                  <div class="col">
                                                       <button type="submit" class="btn saveRequest btn-success w-100">Submit
                                                            Request</button>
                                                  </div>
                                                  <div class="col">
                                                       <button type="reset" class="btn clearRequest text-dark btn-warning w-100">Reset</button>
                                                  </div>
                                             </div>
                                        </div>
                              </form>
                              <div class="col-sm">
                                   <h3>Requirements</h3>
                                   <div class="container">
                                        <form id="fileForm">
                                             <div class="row mb-2 ">
                                                  <div class="col col-lg-9">
                                                       <h5>Upload Needed Requirements here.
                                                            *</h5>
                                                  </div>
                                                  <div class="col-lg-2 mb-2 text-end">
                                                       <label for="files" class="btn addRequirementFile btn-primary" style="width:130px">
                                                            Add
                                                       </label>
                                                       <div class="text-left" style="display:block">
                                                            <input class="form-control" name="studentId" type="text" id="studentId" required />
                                                            <input class="form-control" name="file[]" type="file" id="files" multiple />
                                                       </div>
                                                  </div>
                                                  <div class="col-0 table-responsive ">
                                                       <table class="table table-white table-bordered mt-2">
                                                            <thead>
                                                                 <tr>
                                                                      <th>Action</th>
                                                                      <th scope="col">File Name</th>
                                                                      <th scope="col">File Size</th>
                                                                 </tr>
                                                            </thead>
                                                            <tbody id="fileInfoTable">
                                                                 <tr>
                                                                      <td id="fileName"></td>
                                                                      <td id="fileSize"></td>
                                                                 </tr>
                                                            </tbody>
                                                       </table>
                                                       <div class="row">
                                                            <div class="col text-end">
                                                                 <button type="submit" class="btn saveFile btn-success w-50">Save
                                                                      File</button>
                                                                           </div>

                                                       </div>
                                                       </div>
                                                       </div>
                                                       </form>
                                                       </div>
                              </div>
                              </div>
                    </div>
               </div>
          </div>
          </div>

     </div>


</body>
<script type="text/javascript" th:src="@{/js/userpageJS/jquery.min.js}"></script>
<script type="text/javascript" th:src="@{/js/bootstrap.bundle.js}"></script>
<script type="text/javascript" th:src="@{/js/userpageJS/perfect-scrollbar.jquery.min.js}"></script>
<script type="text/javascript" th:src="@{/js/userpageJS/sparkline.js}"></script>
<script type="text/javascript" th:src="@{/js/userpageJS/waves.js}"></script>
<script type="text/javascript" th:src="@{/js/userpageJS/sidebarmenu.js}"></script>
<script type="text/javascript" th:src="@{/js/userpageJS/custom.min.js}"></script>
<script type="text/javascript" th:src="@{/js/manage_request_js-ajax-jquery/request.js}"></script>



</html>